@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{

    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto slab';
}

.section1{
    background-color: #1f2937;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
    margin-right: 300px;
}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
    margin-left: 50px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.left,.right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-box{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.right-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.left-text-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
}

img{
    margin-bottom: 50px;
}

.p-first{
    font-size: 18px;
    color: #e5e7eb;
    
}

.sign-up-main{
    background-color: #3882F6;
    color: #e5e7eb;
    width: 90px;
    height: 30px;
    border: 1px #3882F6;
    border-radius: 5px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.blue-box{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
}

.square{
    border: 2px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.p-second{
    text-align: center;
    font-size: 18px;
}

.section3{
    background-color: #e7e5eb;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.p-third{
    font-size: 18px;
    text-align: end;
}

#p{
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
}

.section4{
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    background-color: #3882F6;
    height: 40%;
    width: 75%;
    flex-direction: row;
    border-radius: 5px;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

h4{
    font-size: 24px;
    color: #f9faf8;
}

.p-fourth{
    color: #f9faf8;
    font-size: 18px;
}

.right{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 80%;
   
    
}

.btn{
    background-color: #3882F6;
    color: #e5e7eb;
    width: 90px;
    height: 30px;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    height: 75px;
}